html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    color: white;
    background-color: rgb(233, 233, 233);
    font-family: 'Bebas Neue', serif;
    font-size: 1.02em;
}

ul {
  list-style-type: none;
}

.presentation{
  font-size: 7.6em;
}

@media (max-width: 1000px) {
  .presentation{
    font-size: 2.5em;
  }
}