html,body
{
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: rgb(233, 233, 233);
  font-family: 'Bebas Neue', serif;
  font-size: 1.02em;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

.presentation{
  font-size: 7.6em;
}

@media (max-width: 1440px) {
  .presentation{
    font-size: 6em;
  }
}

@media (max-width: 576px) {
  .presentation{
    font-size: 3em;
  }

  html,body
  {
      font-size: 1em;
  }
}